@import "../node_modules/bootstrap/scss/functions";

//Variables globales
$body-bg: #323232;
$body-color: #ffffff;


//Datatables
.datatable-table,
.table.table-striped.table-bordered th,
.table.table-striped.table-bordered td{
  color: #ffffff;
  background-color:  rgb(37, 163, 163);
}


.dataTables_wrapper .paginate_button:not(.disabled) a {
  background-color: rgb(40, 36, 36);
  color: #ffffff;
}
.dataTables_wrapper .paginate_button.disabled,
.dataTables_wrapper .paginate_button.disabled:hover,
.dataTables_wrapper .paginate_button.disabled:active {
  color: #999 !important;
  background-color: #f0f0f0 !important;
  border: 1px solid #ddd !important;
  cursor: not-allowed;
}

.dataTables_wrapper .paginate_button.disabled a,
.dataTables_wrapper .paginate_button.disabled:hover a,
.dataTables_wrapper .paginate_button.disabled:active a {
  color: #999 !important;
}

#usuariosTable, #publicacionesTable {
  tr.elemento-bloqueado {

      td:not(:last-child) {
          opacity: 0.5 !important;
      }
      

      .btn-primary, 
      .btn-secondary {

          opacity: 0.65 !important;
      }
      .btn-primary:hover, .btn-primary:disabled:hover,
      .btn-secondary:hover, .btn-secondary:disabled:hover {
        cursor: not-allowed;
        pointer-events: all;
      }

  }
  tr.elemento-bloqueado:hover {
    td:not(:last-child) {
      opacity: 0.8 !important;
  }
}
}

//Navbar
.navbar-brand {
  background-image: linear-gradient(
    to right, 
    #FF0000,
    #FF8E00,
    #FFEE00,
    #008E00,
    #00C0C0,
    #400098,
    #8E008E
  );
  background-size: 200% auto;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.navbar .nav-link.text-light:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.navbar .nav-link.text-dark:hover {
  color: rgba(0, 191, 255, 0.75) !important;
}

.menu-toggle span.bg-light {
  background-color: #fff !important;
}

.menu-toggle span.bg-dark {
  background-color: #343a40 !important;
}


//Sidebar
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
}

.menu-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color:  var(--bs-body-color);
  border-radius: 3px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle span:nth-child(1) {
  top: 10px;
}

.menu-toggle span:nth-child(2) {
  top: 20px;
}

.menu-toggle span:nth-child(3) {
  top: 30px;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 20px;
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 20px;
}

//Vista del perfil de usuario


.perfil-card .card-body {
  color: #ffffff;
   background-color: rgba(255, 255, 255, 0.05);
   border: 1px solid rgba(255, 255, 255, 0.2);
}

.perfil-card .card-title {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}


//Configuración global de las publicaciones
.post-article {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color:#ffffff;
  color: #333;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 8px;
  line-height: 1.6;
}

.post-article h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.post-article h4 {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.post-article p {
  margin-bottom: 1.5rem;
  text-align: justify;
}

.post-article figure {
  margin: 2rem 0;
}

.post-article img:not([class*="ejemplo"]) {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.post-article figcaption {
  text-align: left;
  font-style: italic;
  color: #666;
  margin-top: 0.5rem;
}


//Publicación filtros
.borroso { filter: blur(5px); }
.gris { filter: grayscale(100%); }
.sepia { filter: sepia(60%); }
.brillo { filter: brightness(150%); }
.contraste { filter: contrast(200%); }
.rotar { filter: hue-rotate(90deg); }
.sombreado {filter: drop-shadow(16px 16px 20px blue);}
.invertido {filter: invert(100%);}
.sepia-borroso{filter: sepia(60%) blur(5px);}

//Publicación imágenes
.bg-marco {
  width: 300px;
  height: 200px;
  border: 2px solid #333;
  margin-bottom: 20px;
}
.bg {
  background-image: url('../assets/img/campo_flores.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-attachment {
  background-image: url('../assets/img/campo_flores.jpg');
  background-attachment: fixed;
  background-size: contain;
}
.img-marco {
  width: 300px;
  height: 150px;
  border: 2px solid #333;
  margin-bottom: 20px;
}
.img-segundo-marco{
  width: 300px;
  height: 300px;
  border: 2px solid #333;
  margin-bottom: 20px;
}
.cover {object-fit: cover ;}
.fill{object-fit: fill ;}
.contain{object-fit: contain ;}
.scale_down{object-fit: scale-down ;}

.obj-left { object-position: left; }
.obj-right { object-position: right; }
.obj-top { object-position: 50% 0%; }
.obj-bottom { object-position: 50% 100%; }

.view_box img {
  width: 256px;
  height: 256px;
  transition: all 0.5s;
  object-view-box: inset(0% 0% 0% 0%);
  border: 2px solid #333;
}

.view_box img:hover {object-view-box: inset(20% 20% 20% 20%);}

//footer

footer .text-muted {
  color: black !important;
}




@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/bootstrap";



